.receipt-box{
    gap: 10px;
    background-color: #ffffff89;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 0.4s;

}
.receipt-box:hover{
    background-color: #ffffff;
}
.receipt-box img{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.more-info{
    display: flex;
    flex-direction: column;
}
.more-info p{
    margin: 0;
}
.more-info .paid{
    font-size: 15px; color: #333;
    font-weight: bold;
}
.status-date{
    display: flex;
    flex-direction: row;
    font-size: 13px; 
    gap: 5px;
    color: #666;
}
.contents-display button{
    padding: 5px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    width: 130px;
    background-color: #f8912a;
    color: #ffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.contents-display button:hover{
    background-color: #c5721e;
}