.tab-navigation {
    display: flex;
    background: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    overflow-x: auto;
    scrollbar-width: thin;
    height: auto;
}

.startBody{
    
    display: flex;
    overflow-x: auto;
}

