.ordersFrame{
        font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: start;
    background-color: #f9f9f9;
    padding: 60px;
    gap: 10px;
    width: 97%;
    height: 97%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;

}



.status-pending {
    color: #ff9800;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
    background: #edddd4;
    color: #572715;
    border: 1px solid #e6d4c3;
}

.status-processing {
    color: #333;
    font-weight: normal;
        font-size: 14px;

}

.status-cancelled,
.status-rejected {
    color: #f44336;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;

}

.status-done,
.status-completed {
    color: #4caf50;
    font-weight: bold;
        padding: 4px 8px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
    background: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.status-default {
    color: #757575;
}


.noInput{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 16px;
}

.titleCount{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.titleCount h2 {
    color: #333;
    font-size: 25px;
    margin: 15px;
    font-weight: bold;
}


.titleFrame{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    justify-content: space-between;
}

.titleFrame h2{
    font-size: 25px;
    font-weight: 600;
    color: #ffde59;
}

.titleFrame button{
    width: 150px;
    height: 40px;
    background-color: #ffde59;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.date-search {
    align-items: center;
    flex-direction: row;
    display: flex;
    gap: 5px;

}

.date-search input {
    border-radius: 10px;
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: none;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.date-search .search-btn {
    padding: 10px;
    background-color: #ffde59;
    color: #333;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    width: 70px;
    height: 41px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.date-search button:hover {
    transition: background-color 0.3s ease;
    background-color: #ffd700;
}


.productList{
    height: 80%;
    overflow-y: scroll;
    width: 100%;
    margin: 0;
}


.order-card{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-bottom: 1px solid #dedede;
}

.order-card span{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
    margin-top: 5px;
}

.order-card:hover{
    box-shadow: 0 4px 16px #0002;
    transform: translateY(-2px) scale(1.02);
    cursor: pointer;
}

span p{
    margin: 0;
}

.store-name{
    font-size: 17px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 400px;
}