.purchase-order-bg{
        font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: start;
    background-color: #f9f9f9;
    padding: 30px;
    gap: 10px;
    width: 97%;
    height: 97%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: auto;
}

.viewPO-btn{
    font-size: 14px;
    color: #333 !important;
    font-weight: normal;
    background: linear-gradient(135deg, #ffde59, #ffd54f);
    padding: 10px 14px;
    width: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border: none;
    align-items: center;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.viewPO-btn:hover{
    background-color: #796a10 !important;
    transition: background-color 0.3s ease;
}


.viewPO-btn span{
    font-size: 15px
}


.order-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px;
    border-radius: 20px;
    width: 100%;
    height: auto;
    overflow-x: auto;
   box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; 
}
.order-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.order-id{
    flex-direction: column;
    display: flex;
    margin: 0;
    gap: 0;
}
.order-id p{
    margin: 0;
}
.order-header .status-text{
    border-radius: 20px;
    padding: 5px;
    border: 1px solid #333;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    display: flex;
    width: auto;
    min-width: 100px;
    height: auto;
}
.shipment-div{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 15px;
    min-width: 300px;
    width: 500px;
}
.shipper-details{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.shipper-details img{
    border-radius: 15px;
    border: 1px solid #999;
    width: 50px;
    height: 50px;

}

.payment_status{
    font-size: 13px;
    color: #666;
}

.shipper-name-address .company-name{
    font-size: 15px;
    color: #333;
    margin: 0;
    font-weight: bold;
}
.ship-detail{
    font-size: 14px;
    color: #666;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-overflow: ellipsis;
}

.ship-details, .shipper-details{
    gap: 5px;
    font-size: 14px;
    color: #999;
}

.recipient-div{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}

.recipient-div .shipper-details{
    flex-direction: column;
    gap: 5;
}
.recipient-title{
    margin: 0;

}

.items-div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.each-item-div{
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 10px;
    width: 300px;
    gap: 10px;
}

.each-item-div img{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

.item-detail{
    gap: 5px;
        text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item-detail p{
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.items-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    min-width: 500px;
    width: auto;
}
.item-name{
    font-size: 15px;
    color: #333;
    margin: 2px;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
}
.item-price-quan{
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 5px;
}
.item-price-quan .item-total-price{
    font-size: 15px;
    color: #333;
    font-weight: bold;
}
.item-original-price, .item-quantity{
    font-size: 13px;
    color: #888;
    font-weight: normal;
}
.item-unit-title-value{
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 5px;
    align-items: center;
}
.item-unit-title{
    font-size: 13px;
    color: #888;
}
.item-unit-value{
    font-size: 13px;
    color: #666;
}
.order-count{
    font-size: 15px;
    margin: 0;
    
}
.order-summmary-div{
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: auto;
    height: auto;
    padding: 10px;
    flex-direction: column;
    display: flex;
    


}

.summary-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.summary-items p{
    margin: 0;
}
.total-title{
    font-weight: bold;
    font-size: 15px;
    color: #888;
}
.total-total{
    font-weight: bold;
    font-size: 15px;
    color: #666;
}

.invoice-btn{
    border-radius: 8px;
    padding: 10px 14px;
    width: 100px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;   
    font-size: 14px;
    color: #fff;
    background-color: #f8912a;
    gap: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.invoice-btn span{
    font-size: 14px
}
.invoice-btn:hover{
    background-color: #cd741c;
       transition: background-color 0.3s ease;

}

/* timeline */
  .timeline {
                position: relative;
                margin-left: 20px;
                padding-left: 15px;
                border-left: 2px solid #ddd;
            }

            .timeline-item {
                display: flex;
                align-items: flex-start;
                margin-bottom: 15px;
                position: relative;
            }

            .timeline-item .dot {
                width: 12px;
                height: 12px;
                background: #f8912a; 
                border-radius: 50%;
                position: absolute;
                left: -22px;
                top: 3px;
            }

            .timeline-item .content {
                margin-left: 10px;
            }

            .timeline-item .label {
                margin: 0;
                font-weight: 600;
                font-size: 14px;
                color: #222;
            }

            .timeline-item .date {
                margin: 2px 0 0;
                font-size: 12px;
                color: #666;
            }


/* order management */

.purchase-order-action-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 10px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.status-btn-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: auto;
}
.order-actions {
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

.order-actions .btn {
    padding: 7px;
    border-radius: 8px;
    font-weight: normal;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    width: 100px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.order-actions .btn-success { background: #28a745; width: 125px;}   
.order-actions .btn-warning { background: #ff9800; opacity: 0.5;}   
.order-actions .btn-danger  { background: #dc3545; opacity: 0.5; }  
.order-actions .btn-primary { background: #007bff; opacity: 0.5; width: 150px;}  

.order-actions .btn:hover {
    opacity: 0.9;
    transform: translateY(-1px);
}

.muted-status-notify{
    text-align: center;
    font-size: 14px;
}


/* customer feedback  */
            .feedback-div{
                display: flex;
                flex-direction: row;
                width: auto;
                gap: 10px;
            }
            .feedback-btn{
                font-size: 14px;
                font-weight: normal;
                padding: 10px 14px;
                width: auto;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                border: none;
                align-items: center;
                display: flex;
                gap: 5px;
                justify-content: center;
            }
            .feedback-div .btn-success{
                color: #fff;
                background-color: #28a745;
            }
            .feedback-div .btn-danger{
                color: #33333373;
                background-color: #fbcc7b77;
            }
            .feedback-div .btn-danger span{
                font-size: 15px;
            }
            .feedback-div .btn-success:hover{
                color: #fff;
                background-color: #1f9039;
            }
            .feedback-div .btn-danger:hover{
                color: #333;
                background-color: #fbcb7b;
            }
            #feedback-div,
            #feedback_div{
                border-radius: 6px;
                font-size: 13px;
                border: 1px solid #cfd8dc;
                padding: 10px 14px;
                background: #f7f9fa;
                outline: none;
                width: 100%;
            }
            .feedback-footer .submit-btn{
                font-size: 14px;
                background-color: #ffde59;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                border: 1px solid #dcbd43;

            }
            .feedback-footer #cancelBtn{
                background: grey;
                font-size: 14px;
                color: #fff;
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            }
            .modal-body .note{
                font-size: 13px;
                color: #333;
                font-weight: bold;
            }


/* report order */
#report-subject {
    width: 80%;
    padding: 10px 14px;
    border: 1px solid #cfd8dc;
    border-radius: 6px;
    font-size: 13px;
    background: #f7f9fa;
    transition: border 0.2s;
    margin-bottom: 6px;
    outline: none;
    color: #333;
    cursor: pointer;
}

.feedback-footer .report-submit:hover{
    background-color: #b81619;
}
.report-label{
    font-size: 14px;
}
.see-report-link{
    color: #b81619;
    cursor: pointer;
    font-size: 14px
}





@media (max-width: 768px) {
    .purchase-order-bg {
        padding: 15px;
        gap: 0;
    }

    .items-list{
        display: flex;
        height: auto;
        width: 100%;
        flex-direction: column;
        gap:2px;
        justify-content: center;
        align-items: start;
    }

     .mainFrame .showScreen{
        margin-top: 0px;
 
    }
    .each-item-div{
        width: 300px;
        min-width: 300px;
    }
    .item-name{
        font-size: 14px;
        color: #333;

    }
    .item-total-price{
        font-size: 14px;
        margin: 2px;

    }
}

@media (max-width: 500px) {

    .date-search {
        flex-direction: row;
        align-items: stretch;
        width: 100%;
    }

    .date-search input{
        width: 80%;
    }
     .date-search button{
        width: 20%;
    } 

    .customersFrame {
        padding: 10px;
    }
    .page-count{
        font-size: 14px !important; 
        margin: 5px;
    }
    h2{
        margin: 0;
    }
    .titleCount{
        margin: 0;
        height: auto;
    }
}
