.purchase-order-bg{
        font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: start;
    justify-content: start;
    background-color: #f9f9f9;
    padding: 60px;
    gap: 10px;
    width: 97%;
    height: 97%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: auto;
}