.receiptFrame {
    width: 100%;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.receiptFrame form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.receiptForm input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.receiptForm button {
    width: 100%;
    padding: 0.75rem;
    background-color: #f59c00;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}