.status-btn{
    display: flex;
    flex-direction: row;
    gap: 5px;

}
.status-btn button{
    border-radius: 5px;
    border: none;
    gap: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border: 1px solid #ffb74d;
    background-color: #ffb84d73;
    color: #333;
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.status-btn button span{
    font-size: 13px;
}
.status-btn button:hover{
    background-color: #ffb84d;
    font-weight: bold;
    
}
