.add-staff-btn,
.set-ceiling-btn{
    font-size: 14px;
}
 .form-group input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    font-size: 15px;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease;

}
.btn-transition:hover{
    background-color: #d7b941; 
    

}
.form-group p{
    margin-top: 10px;
    font-size: 14px;
}
.form-group p span{
    font-size: 14px;
    margin-top: 0;
}
.checkbox-form{
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;

}
.checkbox-form p{
    margin: 0;
    font-size: 13px;
}
.checkbox-form input{
    height: auto;
    background-color: transparent;
    box-shadow: none;
    outline: none;
}

.main-board{
    display: flex;
    flex-direction: row;
    flex: 1;
    gap: 10px;
}
.main-board .ceiling-table{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    background-color: transparent;
    border-radius: 15px;
    overflow: hidden;
    border: #8888884c solid 1px;
    background-color: #fff;
}
.main-board .table-div{
    height: 100%;
    width: 100%;
}
.table-div .content-body{
    height: 90%;
}
.table-div .pagination-div{
    padding: 10px;
}
.table-section{
    display: flex;

}
.table-section table{
    background: #fff;
}
.form-group textarea{
    width: 80%;
    height: 80px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 10px;
    font-size: 15px;
    outline: none;
}




/* order list admin */

.order-list {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.order-list .order-box {
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 15px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    text-decoration: none;
    color: #333;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    transform: scale(1);
}

.order-list .order-box:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 30px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
    z-index: 5;
}

.order-box .supplier{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: auto;


}
.supplier .profile{
    display: flex;
    gap: 5px;
    align-items: center;

}
.supplier .status{
    margin: 0;
}

.supplier .profile p{
    margin: 0;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;           
    display: block; 
}
.order-box .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.order-box .header p{
    margin: 0;
    font-size: 13px;
    color: #666;
    align-items: center;
}
.order-box .header p span{
    font-size: 13px;

}
.order-box .supplier img{
    height: 40px;
    border-radius: 99999%;
}

.order-box .deliveries{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    height: 80%;
    overflow-x: auto;
    padding: 5px;
    margin-top: 10px;
}
.order-box .deliveries .delivery-box{
box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;    background-color: #ffffff84;
    width: 100%;
    height: 80px;
    padding: 5px;
    border-radius: 5px;
}
.deliveries .delivery-box p{
    margin: 0;
    justify-content: space-between;
    display: flex;
}
.delivery-box .headKilos {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
}
.headKilos p{
    margin: 0;
    display: flex;
    flex-direction: row;
}
.headKilos p span{
    margin: 0;
    color: #333;
}
.variance-display{
    margin: 0;
}
.headKilos .variance-display span{
    font-size: 13px;
    margin-left: auto;

}
.dropdown .scale span{
    font-size: 14px;
}
.dropdown .scale{
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.heads-kilos p span{
    font-size: 13px;
}